<a href="https://colab.research.google.com/github/Hanklin9473/tibame_ml0606/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#開始分類程式~ 練習
# 整理資料/資料預處理
#load_iris , classification 分類
# 讀取鳶尾花資料集
from sklearn.datasets import load_iris
load_iris()# 印出 字典的key and value

In [3]:
# pandas 重要的兩個型態: DataFrame(表格, 2D)/Series(一行/一列,1D)
#資料的輛到底要多少才夠?
#看你的問題難易度來決定(簡單: 少一點, 難 多一點), 欄位數量(少:簡單 ,多:難)
#ML : 千~萬 , DL : 萬~十萬
import pandas as pd  #要import pandas  (需把它改名為pd) 先把它歸類為dataframe 
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris["data"],columns = iris["feature_names"])
df["ans"] = iris["target"]
df.to_csv("iris.csv", encoding="utf-8", index=False)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),ans
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [5]:
# step 2 拿到資料後 要切成兩分
#資料處理/預處理: pandas 機器學習: numpy 
import numpy as np
#型態: numpy  array
x = np.array(df.drop(["ans"], axis =1 ))
y = np.array(df["ans"])

In [14]:
#切分
#大部分會 9:1 / 8:2 切  ->1 or 2 為驗證資料
#幫助切分 訓練測試 
from sklearn.model_selection import train_test_split
#[90%x , 10%x ,90%y , 10%y]
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size = 0.1)

In [19]:
#驗證
x_train # 135 筆
x_test #15筆
y_train #135筆
y_test   #15筆

array([0, 1, 2, 0, 1, 1, 1, 0, 2, 2, 0, 2, 0, 2, 0])

In [12]:
#一次對裡面所有東西 -> 給值 賦予
l = [1,2]
[a,b] = l

2

In [7]:
#test
from sklearn.model_selection import train_test_split
train_test_split([1,2,3,4],["a","b","c","d"], test_size= 0.25) # test_size 表示 你要多少當作你的測試資料 0.25 = 1/4當作測試資料
#四分之一是隨機切的

[[3, 2, 1], [4], ['c', 'b', 'a'], ['d']]

In [ ]:
#test drop

test = pd.DataFrame([
        [1,2],
        [3,4]
], columns= ["a", "b"], index=["a", "b"])
test
test.drop("a",axis=1)  # 0 是橫的 ,1 是直的 , axis 有兩種值 0 & 1

   b
a  2
b  4